# ignore all
/*
/.*

# managed
!configure.ac
!.gitignore
!Makefile.am
!sources
!example
!README
!README.md
!m4
!documentation
!share
!cat-src

# additional exception
*~
*.swp
.root_hist
/example/temp.root
*.d
*.so
*.root
