# ignore all
/*
/.*

# add subdirs
!/*/

# ignore inside subdirs
/*/*
/*/.*

# managed
!*.cc
!*.h
!Makefile.am
!*.in

# except for Makefile.in since it is made from Makefile.am
Makefile.in

# additional exception
*_dict.*

